{%extends '::base.html.twig'%}
{%block body%}
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Articulo "{{ articulo.codigo }}"</h3>
                <div class="box-tools" style="float: right;">
                    <a onClick="window.history.back()" class="btn btn-danger" style="color: white;" >
                        <i class="fa fa-undo"></i> Regresar
                    </a>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label class="control-label required" >Codigo</label>
                    </div>
                    <div class="col-md-4">
                        {{ articulo.codigo }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label class="control-label required" >Costo</label>
                    </div>
                    <div class="col-md-4">
                        {{ articulo.costo | number_format(2, '.', ',') }}
                    </div>
                    <div class="col-md-2">
                        <label class="control-label required" >Venta</label>
                    </div>
                    <div class="col-md-4">
                        {{ articulo.venta | number_format(2, '.', ',') }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label class="control-label required" >Color</label>
                    </div>
                    <div class="col-md-4">
                        {{ articulo.color.nombre }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label class="control-label required" >Descripción</label>
                    </div>
                    <div class="col-md-4">
                        {{ articulo.descripcion | raw }}
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>

{%endblock%}
